.logo_type {
    width: 40%;
}

.method {
    margin-bottom: 20px;
}

.recharge_type {

    border: 1px solid #d6d9dc;
    border-radius: 15px;
    padding: 10px;
}

.amount {
    padding: 10px;
    border: 1px solid #d6d9dc;
    border-radius: 10px;
    margin: 10px 10px;
}

.divide {
    border-bottom-width: 1px;
}

.amount-active {
    border: 1px solid #007e33;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
}

.recharge_type-active {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #007e33;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 60px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}